#DB
MYSQL_HOST='dominio o host' #Ej: localhost
MYSQL_USER='nombre de usuario de base de datos' #Ej: adminRayuela
MYSQL_PASSWORD='contraseña de usuario de base de datos' #Ej: contraseña-insegura
MYSQL_DB='nombre de base de datos' #Ej: rayuela
MYSQL_PORT='puerto de mysql' #Ej: 3306

#SERVICE_EMAIL
EMAIL_BACKEND='valor'
EMAIL_HOST='valor'
EMAIL_USE_TLS='valor'
EMAIL_PORT='valor'
EMAIL_HOST_USER='valor'
EMAIL_HOST_PASSWORD='valor'

#DOMAINS
DEFAULT_DOMAIN = 'dominio o host' #Ej: http://localhost:8000

#NAVBAR_COLOR
NAVBAR_COLOR = 'bg-info'

#ROOT_NAVBAR
ROOT_CREATE_ADMIN='Alta de admin'
ROOT_CREATE_PROJECT='Crear proyecto'
#

#ROOT_HEADER
ROOT_HEADER='Como Root tiene acceso a crear projectos y asignarselos a los usuarios administradores, desde las opciones en el menú de su izquierda'
#

#ROOT_HEADER
ROOT_VIEW_PROJECTS = 'Rayuela'

#PROJECT_TITLE
PROJECT_TITLE='Rayuela'
#

#ADMIN_NAVBAR
ADMIN_CREATE_BADGE='Crear Insignia'
ADMIN_CREATE_CHALLENGE='Crear Desafío'
#

#PLAYER_NAVBAR
PLAYER_CREATE_CHECKIN='Realizar checkin'
PLAYER_SEE_MY_GE='Ver mis EJ'
PLAYER_SEE_ALL_PROJECTS='Todos los proyectos'
PLAYER_MY_PROJECTS='Mis proyectos'
#

#TIME_RESTRICTION
CREATE_TIME_RESTRICTION='Crear RT'
#

#BUTTON
REGISTER_BUTTON='Unirme'
MODIFY_BUTTON='Modificar'
DISJOIN_BUTTON='Dar Baja'
#
