{% extends 'rayuelaApp/base/base.html' %}
{% load static %}
{% block title %}
  Tareas de recolección
{% endblock %}

{% block content %}
<div class="card-deck">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{ project.name }} - Tareas de recolección </h3>
      </div>
      <div class="card-body">
        <label class="valid-feedback d-block" style="font-size: 18px;">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
        <label class="invalid-feedback d-block" style="font-size: 18px;">{% for message in messages %}{% if message.tags == 'error' %}*{{ message }}{% endif %}{% endfor %}</label>
        <div>
            <form id="automatic_task_generation"  method="post" action="/automatic_task_generation/{{project.id}}/">
                {% csrf_token %}
                <button type="submit" class="btn btn-block bg-gradient-success" style="margin-bottom: 20px;" {% if project.collection_tasks.all %} disabled {% endif %}>Autogenerar tareas de recolección</button>
                <p style="font-size: 18px;"><i>* La generación automática de tareas de recolección sólo es posible si no existe ninguna creada.</i></p>
            </form>
        </div>
        <div class="table-responsive">
        <table id="table" class="table table-bordered display">
          <thead class="table-primary">
            <tr>
              <th style="width: 10px">#</th>
              <th style="width: 200px">Tipo de tarea</th>
              <th style="width: 200px">Área</th>
              <th style="width: 200px">Intervalo de tiempo</th>
              <th style="width: 5px">Completa</th>
              <th style="width: 10px">Eliminar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>
            {% for collection_task in project.collection_tasks.all %}
            <tr>
              <td class="table-success">{{ collection_task.id }}</td>
              <td>{{ collection_task.task_type }}</td>
              <td>{{ collection_task.sub_area.number }}</td>
              <td>{{ collection_task.time_restriction }}</td>
              <td>{% if collection_task.completed %} Sí {% else %} No {% endif %}</td>
              <td>
                  <button class="btn btn-block bg-gradient-danger btn-xs" data-toggle="modal" data-target="#deleteModal"
                          onclick="deleteModal('#{{collection_task.id}}', '/delete_collection_task/{{project.id}}/{{collection_task.id}}/')"
                   {% if collection_task.completed %} disabled {% endif %}>
                      Eliminar
                  </button>
              </td>
              <td>
                <form action='/modify_collection_task/{{project.id}}/{{collection_task.id}}/' method='GET'>
                  <button class="btn btn-block btn-primary btn-xs" {% if collection_task.completed %} disabled {% endif %}>Modificar</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-label="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header" style="color: #fff; background-color: #0069d9;}">
        <h5 class="modal-title">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar" style="color: #fff;}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size: 18px"><u>Atención</u>: se va a eliminar la tarea de recolección <b><i id="modal_name" class="fw-bold"></i></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-gradient-danger" data-dismiss="modal">Cancelar</button>
        <form id="deleteForm" action='' method='GET'>
          <button class="btn btn-success">Confirmar eliminación</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script src="{% static 'dist/js/datatable_es.js' %}"></script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/showconfirmation.js' %}"></script>
<script>
$(document).ready( function () {
  $('#table').DataTable({
    "language": lang
  });
} );

function deleteModal(score, action) {
    $("#modal_name").html(score);
    $("#deleteForm").attr("action", action);
}

</script>
{% endblock %}