{% extends 'rayuelaApp/base/base.html' %}
{% load static %}
{% block title %}
  Nueva tarea
{% endblock %}

{% block content %}
  <div class="col-md-6 mb-5 mt-0">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Crear tarea para: {{ project.name }}</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form action="/process_task/" id="send" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
          <div class="col-12 col-md-12">
            <label class="invalid-feedback d-block">
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  *{{ message }}
                {% endif %}
              {% endfor %}
            </label>
            <div> {{ project.id }} - {{ project.name }} </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Ingresar nombre de la tarea" required>
                <!-- Input oculto pero necesario ara volver al contexto correcto de proyecto -->
                <input type='hidden' class="form-control" id='project_id' name='project_id' value="{{ project.id }}"></input>
                <label for="exampleInputEmail1">Descripción</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Ingresar descripción">
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </form>
      <div class="card-footer">
        <button onclick="$.confirmation(send);" class="btn btn-primary">Crear tarea</button>
      </div>
   
    </div>
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="col-md-12 mb-1">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon fas fa-check"></i>
                {{ message }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}


<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
     <script src="{% static 'dist/js/datetime_range.js' %}"></script>
<script src="{% static 'dist/js/map.js' %}"></script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static '/dist/js/showconfirmation.js' %}"></script>
{% endblock %}