{% extends 'rayuelaApp/base/base.html' %}
{% load static %}
{% block title %}
  Asignar puntaje
{% endblock %}

{% block link %}   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/> {% endblock %}

{% block content %}
  <div class="col-md-6 mb-5 mt-0">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{project.name}} - Alta de asignación de puntos</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form action="/process_score/" id="send" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
          <div class="col-12 col-md-12">
            <!-- Input oculto pero necesario para mantenerse en el contexto correcto de proyecto -->
            <input type='hidden' class="form-control" id='project_id' name='project_id' value="{{ project.id }}"></input>
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre descriptivo de la regla</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Ingresar nombre" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Es contribución</label>
              <input type="checkbox" id="is_contribution" name="is_contribution" onchange="isContribution()" checked>
            </div>
            <div id="criterion_div">
              <div class="form-group">
                <label>Criterio</label>
                <select id="criterion" name="criterion" onchange="changeCriterion()" class="form-control select2-info" data-dropdown-css-class="select2-info" data-placeholder="Seleccionar criterio" style="width: 100%;" required>
                  <option value="task_type">Tipo de tarea</option>
                  <option value="time_restriction">Intervalo de tiempo</option>
                  <option value="area">Área</option>
                </select>
              </div>
              <div id="task_types" class="form-group">
                <label id="label_task_types">Tipos de tarea</label>
                <select id="select_task_types" name="select_task_types" class="form-control select2-info" data-dropdown-css-class="select2-info" style="width: 100%;" required>
                  {% for task_type in project.task_types.all %}
                  <option value="{{task_type.id}}">{{ task_type.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="time_restrictions" class="form-group">
                <label id="label_time_restrictions">Intervalos de tiempo</label>
                <select id="select_time_restrictions" name="select_time_restrictions" class="form-control select2-info" data-dropdown-css-class="select2-info" style="width: 100%;" required>
                  {% for time_restriction in project.time_restriction.all %}
                  <option value="{{time_restriction.id}}">{{ time_restriction.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="areas" class="form-group">
                <label id="label_areas">Áreas</label>
                <select id="select_areas" name="select_areas" class="form-control select2-info" data-dropdown-css-class="select2-info" style="width: 100%;" required>
                  {% for area in sub_areas.all %}
                  <option value="{{area.id}}">{{ area.number }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label id="points_label" for="exampleInputEmail1">Puntos</label>
              <input type="number" class="form-control" id="points" name="points" placeholder="Puntos" value="0" required>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        <button type="submit" class="btn btn-primary">Crear regla</button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/score.js' %}"></script>
{% endblock %}