{% extends 'rayuelaApp/base/base.html' %}
{% load static %}
{% block title %}
  Reglas del juego
{% endblock %}

{% block content %}

<div id="content" style="margin: 10px; padding-left: 10px; padding-right: 10px; width: 100%;">

<div class="card-deck" style="margin: 10px;">
  <label class="valid-feedback d-block" style="font-size: 18px;">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">{{ project.name }} - Tabla de posiciones </h3>
    </div>
    <div class="card-body">
      <form action="/process_leaderboard/" id="send" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Input oculto pero necesario para mantenerse en el contexto correcto de proyecto -->
        <input type='hidden' class="form-control" id='project_id' name='project_id' value="{{ project.id }}"></input>
        <div id="leaderboard" class="form-group">
          <p><u>Ordenamiento actual</u>:
          <b>
            <i>
            {% if leaderboard.first.order_by_points %}
              Por cantidad de puntos
             {% else %}
              Por cantidad de insignias
             {% endif %}
            </i>
          </b>

          </p>
          <label id="label_leaderboard">Ordenar tabla por: </label>
          <select id="select_leaderboard" name="select_leaderboard" class="form-control select2-info" data-dropdown-css-class="select2-info" style="width: 100%;" required>
            <option value="points">Cantidad de puntos</option>
            <option value="badges">Cantidad de insignias</option>
          </select>
        </div>
          <button type="submit" class="btn btn-success">Cambiar ordenamiento</button>
      </form>
    </div>
  </div>
</div>

<div class="card-deck" style="margin: 10px;">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{ project.name }} - Insignias</h3>
      </div>
      <div class="card-body">
        <div>
          <form action='/create_badge/{{project.id}}/' method='GET' style="display: flex; margin-bottom: 5px;">
            <input type='hidden' class='id' name='id'></input>
            <button class="btn btn-success">Crear insignia</button>
            <br />
          </form>
        </div>
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapse-badges" aria-expanded="false" aria-controls="collapse-badges" style="margin-bottom: 10px">
          Ver/Ocultar Tabla de insignias
        </button>
        <div class="table-responsive collapse" id="collapse-badges" >
        <table id="table-badge" class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th style="width: 10px">Insignia</th>
              <th style="width: 200px">Nombre</th>
              <th style="width: 200px">Descripción</th>
              <th style="width: 200px">Criterio</th>
              <th style="width: 50px">Insignia requerida</th>
              <th style="width: 10px">Eliminar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>
            {% for badge in badges %}
            <tr >
              <td><img src="{{ badge.image.url }} " width=36" height="36"></td>
              <td>{{ badge.name }}</td>
              <td>{{ badge.description }}</td>
              <td>{% if badge.requirements.task_type != None %}
                      Tarea - {{ badge.requirements.task_type }}
                  {% else %}
                     {% if badge.requirements.time_restriction != None %}
                        Intervalo de tiempo - {{ badge.requirements.time_restriction.name }}
                     {% else %}
                        Área - {{ badge.requirements.sub_area.number }}
                     {% endif %}
                  {% endif %}
              </td>
              <td>{% if badge.requirements.badge_id == 0 %}
                    ---
                  {% else %}
                    {% for badge_required in badges %}
                      {% if badge_required.id == badge.requirements.badge_id %}
                        {{ badge_required.name }}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
              </td>
              <td>
                <button class="btn btn-block bg-gradient-danger btn-xs" data-toggle="modal" data-target="#deleteModal" onclick="deleteModal('{{badge.name}}', '/delete_badge/{{project.id}}/{{badge.id}}/')">Eliminar</button>
              </td>
              <td>
                <form action='/modify_badge/{{project.id}}/{{badge.id}}/' method='GET'>
                  <button class="btn btn-block btn-primary btn-xs">Modificar</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

<div class="card-deck" style="margin: 10px;">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{ project.name }} - Reglas de puntaje </h3>
      </div>
      <div class="card-body">
        <div>
          <form action='/create_score/{{project.id}}/' method='GET' style="display: flex; margin-bottom: 5px;">
            <input type='hidden' class='id' name='id'></input>
            <button class="btn btn-success">Crear regla</button>
            <br />
          </form>
        </div>
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapse-rules" aria-expanded="false" aria-controls="collapse-rules" style="margin-bottom: 10px">
          Ver/Ocultar Tabla de reglas
        </button>
        <div class="table-responsive collapse" id="collapse-rules">
        <table id="table-score" class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th style="width: 50px">Nombre</th>
              <th style="width: 50px">Criterio</th>
              <th style="width: 10px">Puntos</th>
              <th style="width: 10px">Eliminar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>
          {% for score in scores %}
            <tr >
              <td>{{ score.name }}</td>
              <td>
                {% if score.checkin %}
                  Checkin
                {% elif score.task_type %}
                  Tipo de tarea
                {% elif score.time_restriction %}
                  Intervalo de tiempo
                {% else %}
                  Área
                {% endif %}
              </td>
              <td>{{ score.points }}</td>
              <td>
                  <button class="btn btn-block bg-gradient-danger btn-xs" data-toggle="modal" data-target="#deleteModal" onclick="deleteModal('{{score.name}}', '/delete_score/{{project.id}}/{{score.id}}/')">Eliminar</button>
              </td>
              <td>
                <form action='/modify_score/{{project.id}}/{{score.id}}/' method='GET'>
                  <button class="btn btn-block btn-primary btn-xs">Modificar</button>
                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-label="Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header" style="color: #fff; background-color: #0069d9;}">
        <h5 class="modal-title">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar" style="color: #fff;}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size: 18px"><u>Atención</u>: se va a eliminar <b><i id="modal_name" class="fw-bold"></i></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-gradient-danger" data-dismiss="modal">Cancelar</button>
        <form id="deleteForm" action='' method='GET'>
          <button class="btn btn-success">Confirmar eliminación</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script src="{% static 'dist/js/datatable_es.js' %}"></script>
<script>
$(document).ready( function () {
  $('#table-badge').DataTable({
    "language": lang
  });
 $('#table-score').DataTable({
  "language": lang
  });
} );

function deleteModal(score, action) {
    $("#modal_name").html(score);
    $("#deleteForm").attr("action", action);
}

</script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/showconfirmation.js' %}"></script>
{% endblock %}