{% extends 'rayuelaApp/base/base.html' %}
{% load static %}
{% block title %}
  Reglas del juego
{% endblock %}

{% block content %}

<div id="content" style="margin: 10px; padding-left: 10px; padding-right: 10px; width: 100%;">

<div class="card-deck" style="margin: 10px;">
  <label class="valid-feedback d-block">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">{{ project.name }} - Tabla de posiciones </h3>
    </div>
    <div class="card-body">
      <form action="/process_leaderboard/" id="send" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Input oculto pero necesario para mantenerse en el contexto correcto de proyecto -->
        <input type='hidden' class="form-control" id='project_id' name='project_id' value="{{ project.id }}"></input>
        <div id="leaderboard" class="form-group">
          <label id="label_leaderboard">Ordenar tabla por: </label>
          <select id="select_leaderboard" name="select_leaderboard" class="form-control select2-info" data-dropdown-css-class="select2-info" style="width: 100%;" required>
            <option value="points">Cantidad de puntos</option>
            <option value="badges">Cantidad de insignias</option>
          </select>
        </div>
          <button type="submit" class="btn btn-success">Cambiar ordenamiento</button>
      </form>
    </div>
  </div>
</div>

<div class="card-deck" style="margin: 10px;">
    <label class="valid-feedback d-block">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{ project.name }} - Insignias</h3>
      </div>
      <div class="card-body">
        <div>
          <form action='/create_badge/{{project.id}}/' method='GET' style="display: flex; margin-bottom: 5px;">
            <input type='hidden' class='id' name='id'></input>
            <button class="btn btn-success">Crear insignia</button>
            <br />
          </form>
        </div>
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapse-badges" aria-expanded="false" aria-controls="collapse-badges" style="margin-bottom: 10px">
          Ver/Ocultar Tabla de insignias
        </button>
        <div class="table-responsive collapse" id="collapse-badges" >
        <table id="table-badge" class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th style="width: 10px">Insignia</th>
              <th style="width: 200px">Nombre</th>
              <th style="width: 200px">Descripción</th>
              <th style="width: 200px">Tipo de tarea</th>
              <th style="width: 50px">Insignia requerida</th>
              <th style="width: 10px">Borrar/Restaurar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>
            {% for badge in badges %}
            <tr >
              <td><img src="{{ badge.image.url }} " width=36" height="36"></td>
              <td>{{ badge.name }}</td>
              <td>{{ badge.description }}</td>
              <td>{{ badge.requirements.task_type }}</td>
              <td>{% if badge.requirements.badge_id == 0 %} No {% else %} Sí {% endif %}</td>

              <td><button  onclick="send_game_element_id_2('{{ badge.id }}','#change_state');" class="btn btn-block bg-gradient-danger btn-xs">Eliminar</button></td>
              <td><button  onclick="send_game_element_id_2('{{ badge.id }}','#modify');" class="btn btn-block bg-gradient-info btn-xs">Modificar</button></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        </div>
<!--        <form id="change_state"  method="post" action="/change_state/"   > {% csrf_token %}-->
<!--          <input type="hidden" id="ge_id" name="ge_id" />-->
<!--        </form>-->
<!--        <form id="modify"  method="post" action="/modify/"   > {% csrf_token %}-->
<!--            <input type="hidden" id="ge_id_" name="ge_id_" />-->
<!--        </form>-->
      </div>
    </div>
  </div>

<div class="card-deck" style="margin: 10px;">
    <label class="valid-feedback d-block">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{ project.name }} - Reglas de puntaje </h3>
      </div>
      <div class="card-body">
        <div>
          <form action='/create_score/{{project.id}}/' method='GET' style="display: flex; margin-bottom: 5px;">
            <input type='hidden' class='id' name='id'></input>
            <button class="btn btn-success">Crear regla</button>
            <br />
          </form>
        </div>
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapse-rules" aria-expanded="false" aria-controls="collapse-rules" style="margin-bottom: 10px">
          Ver/Ocultar Tabla de reglas
        </button>
        <div class="table-responsive collapse" id="collapse-rules">
        <table id="table-score" class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th style="width: 50px">Nombre</th>
              <th style="width: 10px">Puntos</th>
              <th style="width: 10px">Borrar/Restaurar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>

          {% for score in scores.all %}
            {% for score_list in score.scores.all %}
            <tr >
              <td>{{ score_list.name }}</td>
              <td>{{ score_list.points }}</td>

              <td><button  onclick="send_game_element_id_2('{{ badge.id }}','#change_state');" class="btn btn-block bg-gradient-danger btn-xs">Eliminar</button></td>
              <td><button  onclick="send_game_element_id_2('{{ badge.id }}','#modify');" class="btn btn-block bg-gradient-info btn-xs">Modificar</button></td>
            </tr>
            {% endfor %}
          {% endfor %}

          </tbody>
        </table>
      </div>
<!--        <form id="change_state"  method="post" action="/change_state/"   > {% csrf_token %}-->
<!--          <input type="hidden" id="ge_id" name="ge_id" />-->
<!--        </form>-->
<!--        <form id="modify"  method="post" action="/modify/"   > {% csrf_token %}-->
<!--            <input type="hidden" id="ge_id_" name="ge_id_" />-->
<!--        </form>-->
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script src="{% static 'dist/js/datatable_es.js' %}"></script>
<script>$(document).ready( function () {
  $('#table-badge').DataTable({
    "language": lang
  });
   $('#table-score').DataTable({
    "language": lang
  });
} ); </script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/showconfirmation.js' %}"></script>
{% endblock %}