<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalTitle"></h5>
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      <form id="create_scorings" action='/create_scorings/' method='POST'> {% csrf_token %}
        <div class="modal-body">
            {% for criteria in criterias %}
          <div class="row">
            
                <label for="exampleInputEmail1">{{ criteria.name }}</label>
                
              <select id="{{ criteria.name }}" name="{{ criteria.name }}" class="form-control select2 select2-info" data-dropdown-css-class="select2-info" data-placeholder="Seleccionar calificación"  style="width: 100%;" >  

                
                <option value='1'>Puntaje: 1</option>
                <option value='2'>Puntaje: 2</option>
                <option selected value='3'>Puntaje: 3</option>
                <option value='4'>Puntaje: 4</option>
                <option value='5'>Puntaje: 5</option>
              </select>
              
          </div>
          <br>
          {% endfor %}

          <input type='hidden' class='id' name='id'></input>
        </form>
        </div>
        <div class="modal-footer">        
        <button onclick="$.confirmation(create_scorings);" type="submit" class="btn btn-primary">Enviar</button>
        <button  type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         
        </div>
      
      </div>
    </div>
  </div>
  <!--  -->