{% extends 'rayuelaApp/base/base.html' %}
{% load project_extras %}
{% load static %}

{% block title %}
  Modificar Proyecto
{% endblock %}
{% block link %}   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
crossorigin=""/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/> {% endblock %}


{% block content %}
<div class="col-md-6"> 
    <div class="card card-primary">
         
        <div class="card-header">
        <h3 class="card-title">Modificar {{ project.name }}</h3>
        </div>
        
        <input type='hidden' class="form-control" id='id_project' name='id_project' value="{{ project.id }}">
        <form action="/edit_project/" id="send" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="card-body">
        <div class="form-group ">
       
          <label class="invalid-feedback d-block">{% for message in messages %}{% if message.tags == 'error' %}*{{ message }}{% endif %}{% endfor %}</label>
            <label for="exampleInputEmail1">Nombre del proyecto</label>
            <input type="text" class="form-control" name="name" placeholder="Ingrese un nombre" value='{{ project.name }}'>
            <input type='hidden' class="form-control" name='id' value="{{ project.id }}"></input>
            
       
        </div>
        
        <div class="form-group">
           

                
                <label>Descripcion del proyecto</label>
                <textarea  name="description" class="form-control" rows="3" placeholder="Ingresar" value='{{ project.description }}'>{{ project.description }}</textarea>
          
               
        </div>
        
       
          <div class="form-group">
            <label for="exampleFormControlFile1">Imagen del proyecto</label>
            <input type="file" class="form-control-file" accept="image/*" name="image">
          </div>
          {% if project.image.url %}
          <div class="form-group">
            <label for="exampleFormControlFile1">Imagen actual</label>
            <img src="{{ project.image.url }}" height="150rem;" width="auto"   class="card-img-top" alt="Responsive image" />
          </div>
          {% endif %}
          <div class="form-group">
            <label for="exampleFormControlFile1">Asignar área</label>
            <input type="file" class="form-control-file" accept=".geojson" name="area">
          </div>          
          {% if project.area_id %}
          <div class="form-group">
            <label>Área actual</label>
            <select id="id_area" name="area" hidden>  
            </select><br>
            <div id="map" ></div>
          </div>
          {% endif %}
            <div class="form-group">
              <label class="valid-feedback d-block">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
              <label>Restricciones de tiempo actuales</label>&nbsp;&nbsp;&nbsp;<a href="#" onclick="send_project_time_restriction_id();"  class="btn-sm btn-warning">Crear RT</a>
              <select  id="" name="time_restriction[]" class="form-control select2 select2-info" data-dropdown-css-class="select2-info" multiple="multiple" data-placeholder="Seleccionar restricciones de tiempo" style="width: 100%;" >          
                {% for time_restriction in time_restrictions %}
                <option selected value='{{ time_restriction.id }}' {% is_my_time_restriction project time_restriction.id as bool  %} {% if bool  %} selected {% endif %}>{{ time_restriction.name }}</option>
                {% endfor %}
              </select>
            </div>
          
        
       
        <div class="form-check">
          {% if project.avaliable == 1   %}

          <input checked  type="checkbox" class="form-check-input" name="checkbox">
          {% else %}
          <input  type="checkbox" class="form-check-input" name="checkbox">
            
          {% endif %}
       
          <label for="exampleFormControlFile1">¿Público?</label>
        </div>
        <input type='hidden' class="form-control" id='bool' name='bool' value=""></input>
      </form>
        
        
        </div>
      
      
        <div class="card-footer">        
        <button onclick="$.confirmation(send);"  class="btn btn-primary">Guardar cambios</button>
       
        </div>

        
        
        </div>
     
        
    
  </div>
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="{% static 'dist/js/subareas_map.js' %}"></script>
<script src="{% static 'dist/js/get_tr_areas_.js' %}"></script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static '/dist/js/showconfirmation.js' %}"></script>
    <script src="{% static '/dist/js/send_project_id.js' %}"></script>

    <script>function send_project_time_restriction_id() {  

      $("#bool").val('true');
      $.confirmation('#send');      
    }</script>
    
{% endblock %}
