{% extends 'rayuelaApp/base/base.html' %}
{% load static %}

{% block title %}
  {{ project.name }}
{% endblock %}

<div class="container">
  {% block content_header %}<h3 style="text-align: center">{{ project.name }}</h3>{% endblock %}

  {% block content %}
  <div class="justify-content-center" style="margin: 5px;">

  <div class="row">
    <img src="{{ project.image.url }}" width="720px" style="border:5px solid black; display: flex; max-width: 100%; margin: 5px;" />
    <br />
  </div>
  <br />

  <div class="justify-content-center">
    <p style="border:3px; display: flex; width: 720px; max-width: 100%; text-align: center; margin: 5px;">
      {{ project.description }}
    </p>
    <br />
  </div>
  <br />

  <div class="justify-content-center" style="display: flex; width: 720px; max-width: 100%; align-content: center; margin: 5px;">
    <form action='/modify_project/{{project.id}}/' method='GET' style="display: flex; margin: 5px;">
      <input type='hidden' class='id' name='id'></input>
      <button type="submit" class="btn btn-primary">Modificar proyecto</button>
      <br />
    </form>
    <br />

    <form action='/collection_tasks/{{project.id}}/' method='GET' style="display: flex; margin: 5px;">
      <input type='hidden' class='id' name='id'></input>
      <button class="btn btn-primary">Tareas de recolección</button>
      <br />
    </form>
    <br />

    <form action='/game_rules/{{project.id}}/' method='GET' style="display: flex; margin: 5px;">
      <input type='hidden' class='id' name='id'></input>
      <button class="btn btn-primary">Reglas de juego</button>
      <br />
    </form>
  </div>
  </div>

  </div>
  {% endblock %}
</div>
