
{% extends 'alaapp/base/base.html' %}
{% load static %}
{% load project_extras %}
{% block title %} Nuevo Proyecto {% endblock %}

{% block content %}    


<div class="col-md-6"> 
  <div class="card card-primary mt-5 mb-3">
  <div class="card-header">
    <h3 class="card-title">Modificar Proyecto</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="/process_modify_project/" id="send" method="post">{% csrf_token %}
    <div class="card-body">
      <div class="col-md-8">
        <label class="invalid-feedback d-block">{% for message in messages %}{% if message.tags == 'error' %}*{{ message }}{% endif %}{% endfor %}</label>
        <input type="hidden" class="form-control" id="project_id" name="project_id"  value="{{ project.id }}" required>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Ingresar Nombre del projecto" value="{{ project.name }}" required>
      </div>
    </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Administradores</label>
          <select id="" name="select[]" class="form-control select2 select2-info" data-dropdown-css-class="select2-info" multiple="multiple" data-placeholder="Seleccionar administradores" style="width: 100%;" required>          
            {% for admin in admins %}
            <option value='{{ admin.id }}' {% is_my_admin project admin.id as bool %} {% if bool  %} selected  {% endif %}>{{ admin.complete_name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </form>
  <div class="card-footer">
    <button  onclick="$.confirmation(send);"  class="btn btn-primary">Modificar</button>
  </div>
   
  
  
</div>
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="col-md-12 mb-1">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="icon fas fa-check"></i> 
        {{ message }}
        </div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static '/dist/js/showconfirmation.js' %}"></script>
{% endblock %}