{% extends 'rayuelaApp/base/base.html' %}
{% load static %}
{% block title %}
  E-G del projecto
{% endblock %}

{% block content %}



<div class="card-deck">
    <label class="valid-feedback d-block">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Misiones del proyecto: {{ project_name }}</h3>
      </div>

      <div class="card-body">
        <div class="table-responsive">
        <table id="table" class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th style="width: 10px">#</th>
              <th style="width: 200px">Nombre</th>
              <th style="width: 5px">Borrar/Restaurar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>
            
            {% for challenge in challenges %}
            <tr>
              
              <td class="table-success">{{ challenge.id }}</td>
              <td>{{ challenge.name }}</td>
             
              <td><button  onclick="send_game_element_id_2('{{ challenge.id }}','#change_state');" class="btn btn-block bg-gradient-danger btn-xs">{% if challenge.public %}Eliminar{% else %}Restaurar{% endif %}</button></td>
                        
              <td><button  onclick="send_game_element_id_2('{{ challenge.id }}','#modify');" class="btn btn-block bg-gradient-info btn-xs">Modificar</button></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Insignias del proyecto: {{ project_name }}</h3>
      </div>

      <div class="card-body">
        <div class="table-responsive">
        <table id="table2" class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th style="width: 10px">#</th>
              <th style="width: 200px">Nombre</th>
              <th style="width: 10px">Borrar/Restaurar</th>
              <th style="width: 10px">Modificar</th>
            </tr>
          </thead>
          <tbody>
            {% for badge in badges %}
            <tr >
              <td class="table-success">{{ badge.id }}</td>
              <td>{{ badge.name }}</td>
              <td><button  onclick="send_game_element_id_2('{{ badge.id }}','#change_state');" class="btn btn-block bg-gradient-danger btn-xs">{% if badge.public %}Eliminar{% else %}Restaurar{% endif %}</button></td>

              <td><button  onclick="send_game_element_id_2('{{ badge.id }}','#modify');" class="btn btn-block bg-gradient-info btn-xs">Modificar</button></td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
        </div>
        <form id="change_state"  method="post" action="/change_state/"   > {% csrf_token %}
          <input type="hidden" id="ge_id" name="ge_id" />
        </form>
        <form id="modify"  method="post" action="/modify/"   > {% csrf_token %}
            <input type="hidden" id="ge_id_" name="ge_id_" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script src="{% static 'dist/js/datatable_es.js' %}"></script>
<script>$(document).ready( function () {
  $('#table').DataTable({

    "language": lang

  });
  $('#table2').DataTable({

    "language": lang

  });
} ); </script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/showconfirmation.js' %}"></script>
{% endblock %}