{% extends 'rayuelaApp/base/base.html' %}
{% load static %}

{% load game_element_extras %}

{% block title %}
  Mis E-J
{% endblock %}

{% block content %}
{% include '../my_progress/my_progress.html' %}
{% endblock %}



{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script src="{% static 'dist/js/datatable_es.js' %}"></script>
<script>$(document).ready( function () {
  $('#table').DataTable({

    "language": lang

  });
  $('#table2').DataTable({

    "language": lang

  });
} ); </script>
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/showconfirmation.js' %}"></script>


{% endblock %}
