{% load static %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-sm-inline-block">
        <a href="/home/" class="nav-link">Home</a>
      </li>
    </ul> 

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
     

      
      
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <div class="btn-group">
          
          <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/edit_profile/" class="dropdown-item"><i class="fas fa-user"></i> Editar perfil</a>
            <a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link elevation-4">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{ settings.PROJECT_TITLE }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img width="160px" height="160px" src='{{request.session.profile_image}}' class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{request.session.username}}</a>
        </div>
      </div>

      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link ">
         
              <i class="fas fa-spell-check nav-icon"></i>
              <p>
                CheckIn
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% if create_checkin %}block    {% else %}none {% endif %}">
              <li class="nav-item">
                <a href="/create_checkin/" class="nav-link {{ create_checkin|default_if_none:'' }}">
                  <i class="fas fa-check-circle nav-icon"></i>
                  <p>{{ settings.PLAYER_CREATE_CHECKIN }}</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>       
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
            <a href="#" class="nav-link ">
         
              <i class="fas fa-dice nav-icon"></i>
              <p>
                Elementos de juego
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            
            <ul class="nav nav-treeview" style="display:{% if see_my_game_elements %}block    {% else %}none {% endif %}">
              <li class="nav-item ">
                <a href="/see_my_game_elements/" class="nav-link {{ see_my_game_elements|default_if_none:'' }}">
                  <i class="fas fa-check-circle nav-icon"></i>
                  <p>{{ settings.PLAYER_SEE_MY_GE }}</p>
                </a>
              </li>
            </ul>
           </li>
                 
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" >
          <li class="nav-item">
          <a href="#" class="nav-link ">
       
            <i class="fas fa-project-diagram nav-icon"></i>
            <p>
              Proyectos
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          
          <ul class="nav nav-treeview" style="display:{% if see_all_projects or my_projects %}block    {% else %}none {% endif %}">
            <li class="nav-item ">
              <a href="/my_projects/" class="nav-link {{ my_projects|default_if_none:'' }}">
                <i class="fas fa-thumbtack nav-icon"></i>
                <p>{{ settings.PLAYER_MY_PROJECTS }}</p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="/see_all_projects/" class="nav-link {{ see_all_projects|default_if_none:'' }}">
                <i class="fas fa-tasks nav-icon"></i>
                <p>{{ settings.PLAYER_SEE_ALL_PROJECTS }}</p>
              </a>
            </li>
            
          </ul>
         </li>
               
      </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  